<div
  app-input-config-bar
  [config]="config"
  class="block sm:inline-block sm:my-0"
  (configUpdated)="setConfig($event)"
  *ngIf="(edit$ | async) && isNumber()"
></div>
<div>
  <div class="text-base sm:text-lg">
    <div
      app-edit-input
      *ngIf="edit$ | async"
      [value]="name"
      [placeholder]="type.name !== '' ? type.name : 'Name'"
      class="inline-block mr-3 w-1/6"
      (valueUpdated)="setName($event)"
    ></div>
    <span class="mr-2" *ngIf="!(edit$ | async) && name !== ''">{{ name }}</span>
    <span class="text-muted mr-2">{{ datatype }}:</span>
    <span>{{ formattedValue }}</span>
  </div>
</div>
