<div
  *ngIf="(edit$ | async) && isNumber()"
  app-uint-input-config-bar
  [config]="config"
  class="block sm:inline-block sm:my-0"
  (configUpdated)="setConfig($event)"
></div>
<div
  *ngIf="(edit$ | async) && isAddress()"
  app-address-output-config-bar
  [config]="config"
  class="block sm:inline-block sm:my-0 xl:w-1/2 lg:w-2/3 w-full"
  (configUpdated)="setConfig($event)"
></div>
<div>
  <div class="text-base sm:text-lg">
    <div
      app-edit-input
      *ngIf="edit$ | async"
      [value]="name"
      [placeholder]="type.name !== '' ? type.name : 'Name'"
      class="inline-block mr-3 w-1/6"
      (valueUpdated)="setName($event)"
    ></div>
    <span class="mr-2" *ngIf="!(edit$ | async) && name !== ''">{{ name }}</span>
    <span class="text-muted mr-2">{{ datatype }}:</span>
    <ng-container *ngIf="outputType === 'contract'">
      <span *ngIf="formattedValue === '0x0000000000000000000000000000000000000000'">{{ formattedValue }}</span>
      <ng-container *ngIf="formattedValue !== '0x0000000000000000000000000000000000000000'">
        <a [routerLink]="getUrl()" class="underline">{{ formattedValue }}</a>
      </ng-container>
    </ng-container>
    <span *ngIf="outputType !== 'contract'">{{ formattedValue }}</span>
  </div>
</div>
