<ng-container *ngIf="state$ | async as state">
  <div
    *ngIf="(!(edit$ | async) && !(state.config !== undefined && state.config.hidden)) || (edit$ | async)"
    [class]="'pt-6 text-xl' + (state.config !== undefined && state.config.hidden ? ' opacity-50' : '')"
  >
    <div [class]="'relative flex items-center justify-center' + ((edit$ | async) ? ' mb-4 mt-2' : '')">
      <span *ngIf="!(edit$ | async)" class="text-xl mr-2 whitespace-nowrap">{{ name$ | async }}</span>
      <div app-edit-input *ngIf="edit$ | async" [value]="(name$ | async) ?? ''" placeholder="Title" (valueUpdated)="setName($event)"></div>
      <div class="w-full flex-grow relative">
        <div class="absolute border-b w-full top-1/2"></div>
      </div>
      <button class="button-icon-round border text-sm" (click)="collapsed = !collapsed">
        <fa-icon [icon]="faChevronUp" [@iconRotation]="collapsed ? 'open' : 'closed'"></fa-icon>
      </button>
      <!-- EDIT BUTTONS -->
      <div *ngIf="edit$ | async" class="absolute mx-auto button-group">
        <button type="button" class="button button-l" (click)="toggleHidden()">
          <fa-icon [icon]="faEye" *ngIf="!hidden"></fa-icon>
          <fa-icon [icon]="faEyeSlash" *ngIf="hidden"></fa-icon>
        </button>
        <button
          type="button"
          class="button button-r cursor-grab"
          (mousedown)="clickPressed()"
          (mouseup)="clickReleased()"
          (touchstart)="clickPressed()"
          (touchend)="clickReleased()"
        >
          <fa-icon [icon]="faUpDown"></fa-icon>
        </button>
      </div>
      <!-- END EDIT BUTTONS -->
    </div>

    <div *ngIf="!collapsed" @collapse>
      <div class="text-sm">
        <p *ngIf="!(edit$ | async)" class="mr-2">{{ description$ | async }}</p>
        <div
          app-edit-input
          *ngIf="edit$ | async"
          [value]="(description$ | async) ?? ''"
          placeholder="Description"
          (valueUpdated)="setDescription($event)"
        ></div>
      </div>

      <app-read-field *ngIf="type === 'read'" [signature]="signature" [state]="state"></app-read-field>
      <app-write-field *ngIf="type === 'write'" [signature]="signature" [state]="state"></app-write-field>
    </div>
  </div>
</ng-container>
