<div class="pt-6 text-xl" *ngIf="field !== undefined && (contractState$ | async) as contractState">
  <div [class]="'relative flex items-center justify-center' + (edit ? ' mb-4 mt-2' : '')">
    <span class="text-xl mr-2">{{ field.name }}</span>
    <div class="w-full flex-grow relative">
      <div class="absolute border-b w-full top-1/2"></div>
    </div>
    <button class="button-icon-round border text-sm" (click)="collapsed = !collapsed">
      <fa-icon [icon]="faChevronUp" [@iconRotation]="collapsed ? 'open' : 'closed'"></fa-icon>
    </button>
    <!-- EDIT BUTTONS -->
    <div *ngIf="edit" class="absolute mx-auto button-group">
      <button type="button" class="button button-l hover:bg-gray-50 focus:border-indigo-500 focus:outline-none focus:ring-1">
        <fa-icon [icon]="faEye"></fa-icon>
      </button>
      <button type="button" class="button button-r">
        <fa-icon [icon]="faUpDown"></fa-icon>
      </button>
    </div>
    <!-- END EDIT BUTTONS -->
  </div>
  <div *ngIf="!collapsed" @collapse>
    <app-contract-input-field
      class="block my-5"
      *ngFor="let input of field.inputs; let i = index"
      [type]="input"
      (valueUpdated)="setArg(i, $event)"
    ></app-contract-input-field>
    <button class="button-primary" *ngIf="field.inputs.length > 0" (click)="sendTx()" [disabled]="!allArgsValid">Get</button>
    <div *ngFor="let output of field.outputs; let i = index">
      <div class="pt-3 text-gray-700 dark:text-gray-300" *ngIf="contractState[field.name] !== undefined">
        <p class="text-lg sm:text-md">
          <span class="mr-2" *ngIf="output.name !== ''">{{ output.name }}</span>
          <span class="text-muted">{{ output.internalType }}:</span>
          {{ getValue(contractState[field.name], output, i) }}
        </p>
      </div>
    </div>
  </div>
</div>
