<div class="cursor-pointer" (click)="toggleModal()">
  <input #inputRef type="text" class="block w-full text-input" [value]="transformedValue" [placeholder]="structPlaceholder" disabled />
</div>
<div *ngIf="showModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div @opacity class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center lg:items-center lg:p-0">
      <div
        @opacityTranslateY
        appClickOutside
        class="relative transform overflow-hidden rounded bg px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 w-full sm:max-w-lg sm:p-6"
        (clickOutside)="showModal = false"
      >
        <div class="absolute top-0 right-0 pt-4 pr-4">
          <button type="button" class="button-icon" (click)="showModal = false">
            <span class="sr-only">Close</span>
            <div app-icon class="button-icon" name="x"></div>
          </button>
        </div>
        <div class="sm:flex sm:items-start">
          <div class="my-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg font-medium leading-6" id="modal-title">{{ !name ? 'Struct' : name }}</h3>
          </div>
        </div>
        <div *ngIf="type && type.components" [formGroup]="form">
          <div *ngFor="let field of type.components" class="mb-3">
            <span class="ml-3 mb-1">
              {{ field.name }} <span class="text-muted">{{ field.internalType }}</span>
            </span>
            <div class="relative">
              <app-value-input
                [type]="field.internalType"
                [placeholder]="placeholder(field.type)"
                (valueUpdated)="this.form.get(field.name)?.setValue($event)"
              ></app-value-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
