<form *ngIf="type !== undefined" autocomplete="off">
  <!-- NAME AND CONFIG BAR -->
  <label for="value" class="block ml-3 text-base">
    <span class="mr-3" *ngIf="!(edit$ | async)">
      {{ name }} <span class="text-muted">{{ type.internalType }}</span>
    </span>
    <div
      app-edit-input
      *ngIf="edit$ | async"
      [value]="name ?? ''"
      [placeholder]="type.internalType"
      (valueUpdated)="setName($event)"
      class="inline-block mr-3"
    ></div>
    <div
      app-uint-input-config-bar
      [config]="config"
      (configUpdated)="setConfig($event)"
      *ngIf="isNumber(type.internalType)"
      class="block sm:inline-block my-3 sm:my-0"
    ></div>
  </label>
  <div class="mt-1" [ngSwitch]="inputType">
    <!-- ENUM INPUT -->
    <div *ngSwitchCase="'enum'">
      <app-select-menu [list]="enum" (onSelect)="valueUpdated.emit($event)"></app-select-menu>
    </div>
    <div *ngSwitchCase="'tuple'">
      <app-struct-input [name]="name" [type]="type" (valueUpdated)="valueUpdated.emit($event)"></app-struct-input>
    </div>
    <div *ngSwitchCase="'tuple[]'">
      <app-struct-array-input
        [name]="name"
        [type]="type"
        [length]="arrayLength"
        (valueUpdated)="valueUpdated.emit($event)"
      ></app-struct-array-input>
    </div>
    <div *ngSwitchCase="'array'">
      <app-array-input [type]="arrayDataType" [length]="arrayLength" (valueUpdated)="valueUpdated.emit($event)"></app-array-input>
    </div>
    <!-- DEFAULT INPUT -->
    <div class="relative" *ngSwitchDefault>
      <app-value-input
        [type]="type.internalType"
        [placeholder]="placeholder"
        [config]="config"
        (valueUpdated)="updateValue($event)"
      ></app-value-input>
      <div
        class="cursor-pointer absolute inset-y-0 right-0 flex items-center pr-3"
        *ngIf="config?.formatter === 'timestamp'"
        (click)="showDatePicker = true"
      >
        <fa-icon [icon]="faCalendar"></fa-icon>
      </div>
    </div>
    <!-- DATETIME PICKER -->
    <div class="relative z-10 cursor-pointer h-0" *ngIf="showDatePicker">
      <p-calendar
        [inline]="true"
        [ngModel]="timestamp"
        (ngModelChange)="setTimestamp($event)"
        [ngModelOptions]="{ standalone: true }"
        [defaultDate]="timestamp"
        [showTime]="true"
        [minDate]="minDate"
        [touchUI]="true"
        (onSelect)="registerSelect($event)"
      >
      </p-calendar>
    </div>
  </div>
</form>
