<form [formGroup]="form" *ngIf="type !== undefined" autocomplete="off">
  <!-- NAME AND CONFIG BAR -->
  <label for="value" class="block ml-3 text-base">
    <span class="mr-3" *ngIf="!(edit$ | async)">
      {{ name }} <span class="text-muted">{{ type.internalType }}</span>
    </span>
    <div
      app-edit-input
      *ngIf="edit$ | async"
      [value]="name ?? ''"
      [placeholder]="type.internalType"
      (valueUpdated)="setName($event)"
      class="inline-block mr-3"
    ></div>
    <div
      app-input-config-bar
      [config]="config"
      (configUpdated)="setConfig($event)"
      *ngIf="isNumber(type.internalType)"
      class="block sm:inline-block my-3 sm:my-0"
    ></div>
  </label>
  <div class="mt-1" [ngSwitch]="inputType">
    <!-- ENUM INPUT -->
    <div *ngSwitchCase="'enum'">
      <app-select-menu [list]="enum" (onSelect)="valueUpdated.emit($event)"></app-select-menu>
    </div>
    <!-- DEFAULT INPUT -->
    <div class="relative" *ngSwitchDefault>
      <input
        appEnsureInput
        [dataType]="type.internalType"
        [config]="config"
        formControlName="value"
        type="text"
        name="value"
        class="block w-full text-input"
        [placeholder]="placeholder"
      />
      <div
        class="cursor-pointer absolute inset-y-0 right-0 flex items-center pr-3"
        *ngIf="config?.formatter === 'timestamp'"
        (click)="showDatePicker = true"
      >
        <fa-icon [icon]="faCalendar"></fa-icon>
      </div>
    </div>
    <p *ngIf="form.controls.value.dirty && form.controls.value.invalid" class="ml-3 mt-1 text-sm text-red-600">
      <span *ngIf="form.controls.value.errors?.required">Required</span>
    </p>
    <!-- DATETIME PICKER -->
    <div class="relative z-10 cursor-pointer h-0" *ngIf="showDatePicker">
      <p-calendar
        [inline]="true"
        [ngModel]="timestamp"
        (ngModelChange)="setTimestamp($event)"
        [ngModelOptions]="{ standalone: true }"
        [defaultDate]="timestamp"
        [showTime]="true"
        [minDate]="minDate"
        [touchUI]="true"
        (onSelect)="registerSelect($event)"
      >
      </p-calendar>
    </div>
  </div>
</form>
