<nav class="bg-white dark:bg-gray-800 shadow">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex px-2 lg:px-0">
        <div app-header-logo [routerLink]="['/']" class="cursor-pointer"></div>
        <div class="hidden lg:ml-6 lg:block">
          <div class="flex space-x-4">
            <a [routerLink]="link.path" class="button-header" *ngFor="let link of links"> {{ link.name }} </a>
          </div>
        </div>
      </div>
      <!-- SEARCH BAR TODO: add functionality -->
      <!-- <div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end"> -->
      <!-- <div class="max-w-lg w-full lg:max-w-xs dark:text-white">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <div app-icon name="search"></div>
            </div>
            <input id="search" name="search" class="block w-full text-input input-icon" placeholder="Search" type="search" />
          </div>
        </div> -->
      <!-- </div> -->
      <div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end">
        <app-network-selection></app-network-selection>
      </div>
      <div class="flex items-center lg:hidden">
        <button type="button" (click)="toggleMenu()" class="button-icon" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <div app-icon name="menu" *ngIf="!showMenu"></div>
          <div app-icon name="x" *ngIf="showMenu"></div>
        </button>
      </div>
      <div class="hidden lg:ml-4 lg:flex lg:items-center">
        <div app-darkmode-toggle></div>
        <div app-pending-tx></div>
        <div class="flex-shrink-0 ml-3" app-header-wallet-button></div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div *ngIf="showMenu" class="lg:hidden" id="mobile-menu">
    <a [routerLink]="link.path" class="button-menu-mobile" *ngFor="let link of links">
      {{ link.name }}
    </a>
    <div class="divider"></div>
    <div class="flex justify-center" app-header-wallet-button></div>
  </div>
</nav>
