<div class="card" *ngIf="(contract$ | async) === undefined">
  <h1 class="text-2xl pb-4">Add contract</h1>
  <form [formGroup]="form" (ngSubmit)="addContract()">
    <label for="contractAddress" class="block ml-3">Contract Address</label>
    <div class="mt-1 mb-5">
      <input
        appEnsureInput
        dataType="address"
        formControlName="address"
        type="text"
        name="contractAddress"
        class="block w-full text-input"
        placeholder="0xA1337b..."
      />
      <p *ngIf="fetchingEtherscan" class="ml-3 mt-1 text-blue-600">Fetching ABI from Etherscan...</p>
      <p *ngIf="fetchingEtherscan === false && etherscanError !== ''" class="ml-3 mt-1 text-blue-600">
        {{ etherscanError }}
      </p>
      <p *ngIf="form.controls.address.dirty && form.controls.address.invalid" class="ml-3 mt-1 text-sm text-red-600">
        <span *ngIf="form.controls.address.errors?.required">Required</span>
        <span *ngIf="form.controls.address.errors?.address">Invalid Address</span>
      </p>
    </div>
    <div>
      <label for="abi" class="block ml-3">ABI</label>
      <div class="mt-1">
        <textarea formControlName="abi" rows="4" name="abi" class="block w-full text-input" placeholder="..."></textarea>
        <p *ngIf="form.controls.abi.dirty && form.controls.abi.invalid" class="ml-3 mt-1 text-sm text-red-600">
          <span *ngIf="form.controls.abi.errors?.required">Required</span>
          <span *ngIf="form.controls.abi.errors?.json">Invalid JSON</span>
        </p>
      </div>
    </div>
    <div class="mt-5">
      <button type="submit" class="button-primary" [disabled]="form.invalid || fetchingEtherscan">Add contract</button>
    </div>
  </form>
</div>
<app-contract-interaction *ngIf="(contract$ | async) !== undefined" [firstDeployment]="true"></app-contract-interaction>
