<div *ngIf="state.field as field">
  <app-contract-input-field
    class="block mt-5"
    *ngFor="let input of field.inputs; let i = index"
    [type]="input"
    (valueUpdated)="setArg(i, $event)"
  ></app-contract-input-field>
  <app-contract-input-field *ngIf="field.stateMutability === 'payable'"></app-contract-input-field>
  <p *ngIf="field.stateMutability === 'payable'">TODO: implement sending value</p>
  <button class="button-primary mt-5" (click)="sendTx()" [disabled]="!allArgsValid">Send Transaction</button>
</div>
