<div class="card" *ngIf="contract">
  <app-contract-header></app-contract-header>
  <div>
    <div class="block">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex" aria-label="Tabs">
          <button [class]="'tab' + (read ? ' active' : '')" (click)="read = true">Read Contract</button>
          <button [class]="'tab' + (!read ? ' active' : '')" (click)="read = false">Write Contract</button>
        </nav>
      </div>
    </div>
  </div>
  <div *ngIf="config">
    <div *ngIf="read" cdkDropList (cdkDropListDropped)="saveOrder($event, 'read')">
      <div
        app-function
        *ngFor="let signature of config.read.order"
        type="read"
        [signature]="signature"
        cdkDrag
        [cdkDragDisabled]="!moveable"
        (moveable)="moveable = $event"
      ></div>
    </div>
    <div *ngIf="!read" cdkDropList (cdkDropListDropped)="saveOrder($event, 'write')">
      <div
        app-function
        *ngFor="let signature of config.write.order"
        type="write"
        [signature]="signature"
        cdkDrag
        [cdkDragDisabled]="!moveable"
        (moveable)="moveable = $event"
      ></div>
    </div>
  </div>
</div>
