<div class="card" *ngIf="contract">
  <app-contract-header [contract]="contract" [edit]="edit" [firstDeployment]="firstDeployment"></app-contract-header>
  <div>
    <div class="block">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex" aria-label="Tabs">
          <button [class]="'tab' + (read ? ' active' : '')" (click)="read = true">Read Contract</button>
          <button [class]="'tab' + (!read ? ' active' : '')" (click)="read = false">Write Contract</button>
        </nav>
      </div>
    </div>
  </div>
  <div *ngIf="read && config" cdkDropList (cdkDropListDropped)="drop($event, 'read')">
    <div
      app-function
      *ngFor="let signature of config.read.order"
      type="read"
      [signature]="signature"
      [field]="readFunctions[signature]"
      [edit]="edit"
      cdkDrag
      [cdkDragDisabled]="!moveable"
      (moveable)="moveable = $event"
    ></div>
  </div>
  <div *ngIf="!read && config" cdkDropList (cdkDropListDropped)="drop($event, 'write')">
    <div
      app-function
      *ngFor="let signature of config.write.order"
      type="write"
      [signature]="signature"
      [field]="writeFunctions[signature]"
      [edit]="edit"
      cdkDrag
      [cdkDragDisabled]="!moveable"
      (moveable)="moveable = $event"
    ></div>
  </div>
</div>
