<button class="button-outline flex items-center" *ngIf="!network" (click)="showModal = true">
  <span class="text-base">Unkown Network</span>
</button>
<button class="button-outline flex items-center" *ngIf="network" (click)="showModal = true">
  <img class="h-6 w-6 rounded-full mr-3" [src]="'assets/img/icons/networks/' + network.name + '.png'" />
  <span class="text-base">{{ network.name }}</span>
</button>

<div *ngIf="showModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div @opacity class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center lg:items-center lg:p-0">
      <div
        @opacityTranslateY
        appClickOutside
        class="relative transform rounded bg px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 w-full sm:max-w-lg sm:p-6 overflow-auto"
        style="max-height: 70vh; min-width: 60vw"
        (clickOutside)="showModal = false"
      >
        <div class="absolute top-0 right-0 pt-4 pr-4">
          <button type="button" class="button-icon" (click)="showModal = false">
            <span class="sr-only">Close</span>
            <div app-icon class="button-icon" name="x"></div>
          </button>
        </div>
        <div class="sm:flex sm:items-start">
          <div class="my-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg font-medium leading-6" id="modal-title">Select Network</h3>
          </div>
        </div>
        <div>
          <div class="" *ngFor="let group of sortedChains | keyvalue : unsorted; let first = first">
            <div [class]="'divider' + (first ? ' hidden' : '')"></div>
            <div class="py-4 flex flex-col lg:flex-row">
              <div class="w-24 flex items-center text-xl mb-2 lg:mb-0">
                {{ group.key }}
              </div>
              <div class="flex flex-grow justify-around">
                <div class="w-full flex justify-center" *ngFor="let chain of group.value">
                  <div class="flex flex-col items-center justify-center cursor-pointer w-fit" (click)="selectNetwork(chain.id)">
                    <img
                      class="h-10 w-10 rounded-full bg-white mb-1 border border-gray-500"
                      [src]="'assets/img/icons/networks/' + chain.name + '.png'"
                    />
                    <span class="text-sm">
                      {{ chain.name }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
