<div class="flex justify-between pb-4" *ngIf="contract">
  <div>
    <div class="text-2xl pb-2">
      <p *ngIf="!edit" class="edit-text">
        {{ contract.config.name === '' ? 'Contract Interaction' : contract.config.name }}
      </p>
      <div app-edit-input *ngIf="edit" [value]="contract.config.name" placeholder="Title" (valueUpdated)="setName($event)"></div>
    </div>
    <div
      app-edit-input
      class="pb-2"
      *ngIf="edit && firstDeployment"
      placeholder="URL"
      [value]="contract.url"
      hint="Your Dapp will be reachable under this URL, you cannot change it later."
      [error]="urlError"
      (valueUpdated)="setUrl($event)"
    ></div>
    <div>
      <p *ngIf="!edit">{{ contract.config.description }}</p>
      <div
        app-edit-text-area
        *ngIf="edit"
        [value]="contract.config.description"
        placeholder="Description"
        (valueUpdated)="setDescription($event)"
      ></div>
    </div>
  </div>
  <button class="button-primary" *ngIf="!edit" (click)="edit = true"><fa-icon [icon]="faPenToSquare" class="mr-2"></fa-icon> Edit</button>
  <button class="button-primary" *ngIf="edit && user === contract.owner" (click)="saveDapp()">
    <fa-icon [icon]="faFloppyDisk" class="mr-2"></fa-icon> Save
  </button>
  <button class="button-primary" *ngIf="edit && user !== contract.owner" (click)="saveDapp()">
    <fa-icon [icon]="faCodeFork" class="mr-2"></fa-icon> Fork
  </button>
</div>
