<div class="flex justify-between pb-4" *ngIf="config$ | async as config">
  <div>
    <div class="text-2xl pb-2">
      <p *ngIf="!(edit$ | async)" class="edit-text">
        {{ config.name === '' ? 'Contract Interaction' : config.name }}
      </p>
      <div app-edit-input *ngIf="edit$ | async" [value]="config.name" placeholder="Title" (valueUpdated)="setName($event)"></div>
    </div>
    <div
      app-edit-input
      class="pb-2"
      *ngIf="(edit$ | async) && (deploymentType$ | async) !== 'save'"
      placeholder="URL"
      [value]="(url$ | async) ?? ''"
      hint="Your Dapp will be reachable under this URL, you cannot change it later."
      (valueUpdated)="setUrl($event)"
    ></div>
    <div>
      <p *ngIf="!(edit$ | async)">{{ config.description }}</p>
      <div
        app-edit-text-area
        *ngIf="edit$ | async"
        [value]="config.description"
        placeholder="Description"
        (valueUpdated)="setDescription($event)"
      ></div>
    </div>
  </div>
  <button class="button-primary" *ngIf="!(edit$ | async)" (click)="setEdit()">
    <fa-icon [icon]="faPenToSquare" class="mr-2"></fa-icon> Edit
  </button>
  <div *ngIf="edit$ | async">
    <button class="button-primary" (click)="saveDapp()">
      <span *ngIf="(deploymentType$ | async) !== 'fork'"><fa-icon [icon]="faFloppyDisk" class="mr-2"></fa-icon> Save</span>
      <span *ngIf="(deploymentType$ | async) === 'fork'"><fa-icon [icon]="faCodeFork" class="mr-2"></fa-icon> Fork</span>
    </button>
  </div>
</div>
